.expandTable {
  .el-table {
    th, td {
      padding: 10px 0;
    }

    .cell {
      padding: 0 20px;
    }
  }

  .el-table__empty-text {
    color: $--color-text-regular;
  }

  .el-table-column--selection {
    .cell {
      padding: 0 !important;
      text-align: center;
    }
  }

  .el-table thead tr {
    background-color: $--table-header-color-custom;
    color: $--color-text-regular;
    font-size: 16px;
  }

  .el-table thead th {
    background-color: unset;
  }

  .el-pagination {
    font-weight: normal;

    .btn-prev, .btn-next {
      padding-top: 2px;
      font-size: 18px;

      .el-icon:before {
        font-size: 21px;
        font-weight: 100;
      }
    }
  }

  .tableRowTitle {
    display: inline-block;
    cursor: pointer;
    height: 21px;
    color: $--table-router-text-color-custom
  }

  .tableRowDetail {
    border-bottom: 1px solid $--color-text-regular;
    display: inline-block;
    cursor: pointer;
    height: 21px;
  }

  .el-pagination__total, .el-input__inner {
    color: $--color-text-primary;
  }

  .el-pagination__sizes {
    margin-right: 21px;
  }

  .el-pagination {
    margin-top: 9px;
    text-align: right;
    padding: 0 5px;

    .el-input__suffix {
      right: -3px;
      height: 34px;
      width: 33px;
      top: -3px;
      background-color: $--color-primary;
    }

    .el-select {
      .el-input {
        width: 85px;

        .el-input__inner {
          text-align: left;
        }

        .el-select__caret {
          font-size: 26px;
          color: $--color-white;
          width: 100%;
          margin-top: -2px;
        }
      }
    }

    .routerTo {
      display: inline-block;
      margin-left: 20px;
      padding-top: 2px;

      .routerToButton {
        text-align: center;
        cursor: pointer;
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-weight: 500;
        font-size: 14px;
        font-family: "PingFang SC";
        color: #ffffff;
        background-color: #F13D3D;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .routerToInput {
        width: 36px;
        height: 28px;
        float: left;

        .el-input__inner {
          height: 28px;
          line-height: 28px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: 0;
        }
      }
    }
  }

  .el-pager {
    li {
      font-size: 12px;
      padding: 0;
      min-width: 24px;
      height: 24px;
      line-height: 24px;
      margin-top: 4px;
      border-radius: 4px;

      &.active {
        background-color: #F13D3D;
        color: #ffffff;
      }
    }
  }

  .el-input__icon.el-icon-arrow-up, .el-icon.el-icon-arrow-left, .el-icon.el-icon-arrow-right {
    font-family: "iconfont" !important;
  }

  .el-icon-arrow-up:before {
    content: "\e626";
  }

  .el-icon-arrow-left:before {
    content: "\e624";
  }

  .el-icon-arrow-right:before {
    content: "\e625";
  }
}

.el-icon.el-icon-date, .el-icon.el-icon-close {
  font-family: "iconfont" !important;
}

.el-icon-date:before {
  content: "\e61c";
}

.el-icon-close:before {
  content: "\e623";
}